* {
    margin: 0;
    padding: 0;
}

button {
    color: white;
    background: black;
    width: 98px;
    height: 32px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid silver;
    text-align: center;
    font-size: 10px;
    transition: all .1s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.popUp {
    position: absolute;
    background: crimson;
    top: 50%;
    left: 50%;
    z-index: 99;
}

.cllumn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.display{
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.display .playerImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.display .playerImg img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.display .enemyImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.display .enemyImg img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.display .battleInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.info .palyerStatus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}
